
navbar{
    padding-top: 15px;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo{
    width: 150px;
    height: 40px;
  }
  
  navbar ul{
    list-style: none;
    padding: 0;
    display: flex; 
  }
  
  navbar li a:hover{
    color: #fff;
    cursor: pointer;
    
  }
  
  navbar li a{
    transition: 0.3s ease;
    text-decoration: none;
    color: lightgray;
    font-weight: 500;
    text-transform: lowercase;
    margin: 15px;
  }
  
  @media screen and (max-width: 568px){
    navbar{
      justify-content: center;
    }
  }